.dark-theme
{
    background-color: var(--main-background-color);
    color: var(--main-color);
    --main-background-color: #000000;
    --main-color: #ffffff;
    --secondary-background-color: #ffffff;
    --secondary-color: #C0C0C0;
    transition: background-color 0.5s;
}

.light-theme
{
    background-color: var(--main-background-color);
    color: var(--main-color);
    --main-background-color: #ffffff;
    --main-color: #000000;
    --secondary-background-color: #000000;
    --secondary-color: #C0C0C0;
    transition: background-color 0.5s;
}

.wrapper
{
    display: flex; flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}